<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaHerenciaSqlServer"
            connectionString="DSN=SQL_LaHerencia;Trusted_Connection=Yes;DATABASE=LaHerencia"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>